# Firebase Web config (claves públicas — el acceso lo controlan las Security Rules)
NEXT_PUBLIC_FB_API_KEY=AIzaSyDXdORxDQ6OMG2vVM5uP5Kd5T9axUZfp64
NEXT_PUBLIC_FB_AUTH_DOMAIN=tablero-respuesta-ve.firebaseapp.com
NEXT_PUBLIC_FB_PROJECT_ID=tablero-respuesta-ve
NEXT_PUBLIC_FB_STORAGE_BUCKET=tablero-respuesta-ve.firebasestorage.app
NEXT_PUBLIC_FB_MESSAGING_SENDER_ID=874598173540
NEXT_PUBLIC_FB_APP_ID=1:874598173540:web:a7b91404b2bc700111c871
